@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    background: ur;
    background-size: cover;
}
.contact .content
{
    max-width: 600px;
    text-align: center;
}

.contact .content h2
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: black;
    font-style: oblique;
}
.contact .content p{
    font-weight: 300;
    color: #000000;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%; 
    display: flex;
    flex-direction:column;
}
.container .contactinfo .box{
       position: relative;
       padding: 20px 0; 
       display: flex;
}
.container .contactinfo .box .icon{
       min-width: 60px;
       height: 60px;
       background: #fff;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       font-size: 22px;
}
.container .contactinfo .box .text .email
{
          display: flex;
          font-size: 16px;
          color:#000000;
          flex-direction: column;
          font-weight: 300;
          text-shadow: #fff;
}
.container .contactinfo .box .text h3
{
        font-weight: 500;
        color: black;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.contactform
{
          width:40%;
          padding: 40px;
          background: #fff;
          border-top: solid black;
          border-bottom: solid black;
          border-left: solid black;
          border-right: solid black;
          border-radius: 50px;
          
}
.contactform h2{
          font-size: 30px;
          color: #230e8d;
          font-weight:500;
}
.contactform .inputbox
{
          position: relative;
          width: 100%;
          margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea
{
        width: 100%;
        padding: 5px 0;
        font-size:  16px;
        margin:  10px 0;
        border: none;
        border-bottom: 2px solid #1DA1F2;
        outline:none;
        resize: none;
}
.contactform .inputbox span
{
        position: absolute;
        left: 0;
        padding: 5px 0;
        font-size: 16px;
        margin:  10px 0;
        pointer-events: none;
        transition: 0.5s;
        color:#666
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
         color:#e91e63;
         font-size: 12px;
         transform: translateY(-20px) ;
}
.contactform .inputbox input[type="submit"]
{
          width: 100px;
          background: #00bcd4;
          color:#fff;
          border: none;
          cursor: pointer;
          padding: 10px;
          font-size: 18px;
}
@media (max-width: 991px)
{
    .contact{
              padding: 50px;
    }
    .container{
              flex-direction: column;
    }
    .container .contactinfo{
              margin-bottom:  40px;
    }
    .container .contactinfo,
    .contactform{
              width: 100%;
    }
}
.contact-us{       
  width: 300px;
  border: 2px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-left: 160px;
  background-color: #fff;
  border-radius: 15px;

}
.address{

    width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  border-left: 5px;
  border-right: 5px;
}
.phone{
    width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  border-left: 5px;
  border-right: 5px;
}
.email{
    width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  border-left: 5px;
  border-right: 5px;
}